package {{ package }};

public class {{ class_type }} extends RuntimeException {
  public {{ class_type }}(String message) {
    super(message);
  }

  public {{ class_type }}(String message, Throwable t) {
    super(message, t);
  }
}
