package {{ package }};

{# Fixed imports in the temlate #}
import lombok.*;
import javax.persistence.*;

{{ imports }}


@Data
@Builder
@AllArgsConstructor
@NoArgsConstructor
@Entity
@Table(name = "{{ table_name }}")
public class {{ class_type }} {

{% filter indent(width=4) %}
    {{ fields }}
{% endfilter %}

{% filter indent(width=4) %}
    {{ methods }}
{% endfilter %}

    @Override
    public boolean equals(Object o) {
    if (this == o)
        return true;

    if (!(o instanceof {{ class_type }}))
        return false;

    return {{ id_field }} != null &&
        {{ id_field }}.equals((({{ class_type }}) o).get{{ id_field|firstupper }}());
    }

    @Override
    public int hashCode() {
        return getClass().hashCode();
    }
}
