@OneToMany(mappedBy = "{{ mapped_by }}", cascade = CascadeType.ALL, {% if remove_orphan %} orphanRemoval = true {% endif %})
@Builder.Default
private {{ collection_type }}<{{ class_type }}> {{ name }} = new {{ collection_type_imp }}<>();
